.lienhe {
    width: 80%;
    margin: auto;
    margin-top: 70px;
}

.bando {
    float: left;
}

.form {
    background-color: aqua;
    float: right;
    width: 500px;
    height: 450px;
    border: 2px solid aquamarine;
}

.input li {
    font-size: 15px;
}

.form .title {
    text-align: center;
}

.form .input {
    background-color: white;
    height: 79%;
    border-bottom: 2px solid aquamarine;
}

.form .input input {
    margin-left: 20px;
    height: 30px;
    width: 450px;
}

.form .input .allinput label {
    margin-left: 20px;
}

.form .input .nd {
    height: 80px;
}

.form .input button {
    height: 40px;
    margin-top: 30px;
    width: 450px;
    text-align: center;
    margin-left: 20px;
    border: 0px;
    background-color: aqua;
}

.form .input button:hover {
    background-color: rgb(25, 191, 241);
}

.form .button-form {
    margin-top: 10px;
    text-align: center;
}

br {
    clear: both;
}