* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.container>img {
    width: 15%;
    height: 125px;
    float: left;
}

.container1 {
    width: 100%;
    height: 125px;
    background-image: url(../inmages/images.jpg);
}

.container1>img {
    width: 15%;
    height: 125px;
    float: left;
}

.col_1b {
    float: top, right;
}

.col_1b>a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    color: #000;
}

.col_1b a:hover {
    color: red;
}

.tim_kiem input[type=text] {
    width: 40%;
    height: 40px;
    margin-top: 50px;
    float: left;
    margin-left: 10%;
    font-size: 15px;
}

#navbar {
    width: 100%;
    font-size: 30px;
    z-index: 100;
}

#navbar>ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: aqua;
    text-align: center;
}

#navbar .smenu {
    text-align: left;
}

#navbar>ul>li>a {
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    line-height: 50px;
    font-size: 25px;
}

#navbar>ul>li>a:hover {
    color: red;
}

#navbar>ul>li {
    display: inline-block;
    position: relative;
}

#navbar .smenu li a {
    font-size: 20px;
}

#navbar ul ul {
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}

#navbar ul ul a {
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    padding: 0 10px;
}

#navbar>ul>li:hover>ul {
    display: block;
}

#navbar ul ul a:hover {
    background-image: linear-gradient(to right, rgb(238, 15, 219), rgb(229, 143, 218));
    color: white;
    font-size: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 0 5px black;
    padding-left: 70px;
    height: 30px;
    width: 15%;
}

.top-right ul li a {
    color: black;
    size: 20px;
    justify-content: space-between;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
}

header {
    text-align: center;
    background-color: rgb(255, 213, 29);
}

li {
    list-style: none;
}

.aol {
    width: 100%;
    padding: 20px 0;
    height: 350px;
}

.bol_1a {
    display: flex;
    justify-content: space-between;
}

.bol_1b {
    width: 70%;
}

.bol_1c {
    width: 100%;
    height: 300px;
}

.bol_1c img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bol_2b {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 40px;
}

.bol_2b li {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    height: 100%;
}

.bol_2b li::before {
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background-color: #ddd;
    right: 0;
}

.bol_2a {
    width: 30%;
}

.bol_2a {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
}

.bol_2a li img {
    width: 100%;
    height: 170px;
}

.col_2a {
    margin-top: 10px;
}

.col_2b {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.col_2b ul li a {
    color: black;
}

.col_2b ul {
    display: flex;
}

.col_2b ul li {
    padding: 10px 12px;
    border: 1px solid #ddd;
    margin-left: 12px;
}

.col_2b h3 {
    font-style: italic;
    padding: 5px;
}

.col_3a {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col_3b {
    width: 20%;
    padding: 50px 12px 50px;
    border: 1px solid rgb(235, 233, 233);
    cursor: pointer;
}

.col_3b:hover {
    box-shadow: 3px 3px 3px #ddd;
}

.col_3b a img {
    width: 100%;
}

.col_3b a>img:hover {
    transform: translateY(-20px);
    transition: all 0.3s ease;
}

.col_3c {
    padding-top: 20px;
}

.col_3c li {
    margin-bottom: 6px;
    font-size: 16px;
}

.col_3c li a {
    color: #000;
    font-size: 16px;
}

.col_1a {
    margin-top: 10px;
    text-align: center;
}

.col_1a>a {
    color: #737373;
    text-decoration: none;
    margin-right: 30px;
    font-size: 25px;
}

.col_1a a :hover {
    color: #000;
}

.footer {
    width: 100%;
    height: auto;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 20px;
}

.grid-column-2 {
    padding-left: 5px;
    padding-left: 5px;
    width: 16.667%;
}

.grid-column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.footer-item-link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item-link:hover {
    color: var(--primary-color);
}

.sangtrang {
    height: 50px;
}

.footer {
    padding-top: 12px;
    border-top: 4px solid var(--primary-color);
}

.footer-heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item-icon {
    font-size: 1.6rem;
    margin: -1px 8px 0;
}

.footer-dowload {
    display: flex;
}

.footer-dowload-qr {
    width: 150px;
    height: 150px;
}

.footer-dowload-app-img {
    width: 65px;
}